button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.citiesPicBtn {
  display: flex;
  flex-direction: column;
}

.picCityRow {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.cityPic {
  margin: 5px;
  width: 30vw;
  height: 19vw;
  max-width: 250px;
  max-height: 135px;
}

.carousel .control-dots {
  bottom: -33px;
}
.carousel .slide {
  background-color: white;
}
