.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b46524;
}

.nav {
  position: relative;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

ul {
  list-style: none;
}

.nav > li {
  margin: 3px;
  padding: 10px;
  border: #991e1e 2px solid;
  border-radius: 20px;
}

.nav > li:hover {
  background-color: #525f1a;
}

.nav > li > a {
  font-size: 3vw;
  padding: 10px;
  text-decoration: none;
  color: #991e1e;
}
