* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0vh;
}

/* #root {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
